.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
.ipynb_checkpoints/Untitled2-checkpoint.ipynb
.ipynb_checkpoints/Untitled3-checkpoint.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
.ipynb_checkpoints/Deutsch_Josza-checkpoint.ipynb
.ipynb_checkpoints/Python_Tutorial-checkpoint.ipynb
.ipynb_checkpoints/Qiskit_Tutorial-checkpoint.ipynb
.ipynb_checkpoints/Stern_Gerlach-checkpoint.ipynb
.ipynb_checkpoints/UV_Katastrophe-checkpoint.ipynb
